<a href='#' onclick="_open( '{php_self}?plugin=channels&action=play_channel&channel_id={channel_id}&output_id={output_id}', 420 , 370 ); return false;"><i class="uk-icon-play-circle uk-icon-small" style="color:darkgrey" title="Воспроизвести"></i></a>&nbsp;&nbsp;
<a href="{php_self}?plugin=channels&action=channel_info&channel_id={channel_id}" ><i class="uk-icon-cog uk-icon-small" title="Редактировать"></i></a>&nbsp;&nbsp;
<a href="{php_self}?plugin=channels&action=reload_channel&channel_id={channel_id}&astra_id={astra_id}" onclick="return confirm('Перезагрузить?')"><i class="uk-icon-refresh uk-icon-small" style="color: green;" title="Перезагрузить"></i></a>
<a onclick="return confirm('Удалить канал?')"  href="{php_self}?plugin=channels&action=delete_channel&channel_id={channel_id}"><i class="uk-icon-times uk-icon-small" style="color:red" title="Удалить"></i></a>
