<ul class="uk-tab" data-uk-tab>
  <li data-uk-dropdown="{mode:'click'}" id='channels_dropdown'> <a href="{php_self}?plugin=channels" >Каналы</a>
    <div class="uk-dropdown uk-dropdown-small">
      <ul class="uk-nav uk-nav-dropdown">
        <li class="list"><a href="{php_self}?plugin=channels" onClick="menu_on_click(this);">Список каналов</a></li>
        <li class="add"><a href="" onClick="return show_add_dialog('add_channel_dialog','{php_self}?plugin=channels&show_add_dialog=Y')">Добавить канал</a></li>
      </ul>
    </div>
  </li>
  <li  data-uk-dropdown="{mode:'click'}" id='adapters_dropdown'><a href="{php_self}?plugin=adapters" >DVB-Адаптеры</a>
    <div class="uk-dropdown uk-dropdown-small">
      <ul class="uk-nav uk-nav-dropdown">
        <li class="list"><a href="{php_self}?plugin=adapters" onClick="menu_on_click(this);">Список DVB-Адаптеров</a></li>
        <li class="add"><a href="" onClick="return show_add_dialog('add_adapter_dialog','{php_self}?plugin=adapters&show_add_dialog=Y')">Добавить DVB-Адаптер</a></li>
      </ul>
    </div>
  </li>
  <li data-uk-dropdown="{mode:'click'}" id='camservers_dropdown' > <a href="{php_self}?plugin=camservers" >CAM-Серверы</a>
    <div class="uk-dropdown uk-dropdown-small">
      <ul class="uk-nav uk-nav-dropdown">
        <li class="list"><a href="{php_self}?plugin=camservers " onClick="menu_on_click(this);">Список CAM-Серверов</a></li>
        <li class="add"><a href="" onClick="return show_add_dialog('add_camserver_dialog','{php_self}?plugin=camservers&show_add_dialog=Y')">Добавить CAM-Сервер</a></li>
      </ul>
    </div>
  </li>
  <li  data-uk-dropdown="{mode:'click'}" id='astras_dropdown'><a href="{php_self}?plugin=astras" >Astra</a>
    <div class="uk-dropdown uk-dropdown-small">
      <ul class="uk-nav uk-nav-dropdown">
        <li class="list"><a href="{php_self}?plugin=astras" onClick="menu_on_click(this);">Список экземпяров ASTRA</a></li>
        <li class="add"><a href="" onClick="return show_add_dialog('add_astra_dialog','{php_self}?plugin=astras&show_add_dialog=Y')">Добавить экземпяр ASTRA</a></li>
      </ul>
    </div>
  </li>
  <li><a onClick="menu_on_click(this);" href="{php_self}?plugin=playlist">Плейлист</a></li>
  <li  data-uk-dropdown="{mode:'click'}" id='users_dropdown'> <a href="{php_self}?plugin=users" >Пользователи</a>
    <div class="uk-dropdown uk-dropdown-small">
      <ul class="uk-nav uk-nav-dropdown">
        <li class="list"><a href="{php_self}?plugin=users" onClick="menu_on_click(this);">Список пользователей</a></li>
        <li class="add"><a href="" onClick="return show_add_dialog('add_user_dialog','{php_self}?plugin=users&show_add_dialog=Y')">Добавить пользователя</a></li>
      </ul>
    </div>
  </li>
</ul>

<!--

--> 
<script type="text/javascript">
function show_add_dialog(dialog_function,url)
{
	if ($.isFunction(window[dialog_function])) {
		window[dialog_function]();
	}else{
		$(location).attr('href',url);
	}
	return false;
}

function menu_on_click(el)
{
	$(location).attr('href',el.href);
}

$(document).ready(function (){
	if("{plugin}" == "")
	{
		plugin = 'channels';
	}else{
		plugin = '{plugin}';
	}
	$("#" + plugin + '_dropdown').addClass("uk-active");
});
	
</script> 
