        <a href="#" onclick='$("#astra-edit-form-f #name").val("{name}");
                             $("#astra-edit-form-f #astra_id").val("{astra_id}");
                             $("#astra-edit-form-f #control_server_addr").val("{control_server_addr}");
                             $("#astra-edit-form-f #control_server_iface").val("{control_server_iface}");
                             $("#astra-edit-form-f #control_server_port").val("{control_server_port}");
                             $("#astra-edit-form-f #event_request").val("{event_request}");
                             $("#astra-edit-form-f #event_request_interval").val("{event_request_interval}");
                             edit_astra_dialog();
                             return false;'><i class="uk-icon-cog uk-icon-small" title="Редактировать"></i></a>&nbsp;&nbsp;
        
        <a href="{php_self}?plugin=astras&action=reload_astra&astra_id={astra_id}" onclick="return confirm('Перезагрузить?')"><i class="uk-icon-refresh uk-icon-small" style="color: green;" title="Перезагрузить"></i></a>
        &nbsp;&nbsp;<a href="{php_self}?plugin=astras&action=delete_astra&astra_id={astra_id}" onclick="return confirm('Удалить экземпляр?')"><i class="uk-icon-times uk-icon-small" style="color:red" title="Удалить"></i></a>
